/* Event Page */
.events {
  margin-top: 110px;
  margin-bottom: 100px;
  /* display: block; */
}

.event_title {
  color: #4e2780;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 20px;
  font-family: "Barlow", sans-serif;
}

.all-events {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.all-mentors {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.eventpage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

.events-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.all-events-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-mentors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88%;
  margin: auto;
}

.project_img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.project_details {
  background-color: #d9e2d5;
  text-align: left;
  border-radius: 15px 50px;
  padding-left: 35px;
  padding-right: 30px;
  padding-top: 20px;
  width: 450px;
  height: 400px;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 20px;
}

.event-details {
  margin-bottom: 15px;
}

.description {
  width: auto;
  height: 290px;
  overflow: auto;
}

.card-title {
  padding: 0;
}

.name-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.event-details {
  margin-top: 10px;
  margin-left: 10px;
}

/* scroll width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e2780;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.details_title {
  color: #4e2780;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Barlow", sans-serif;
}

/* .photoandorg {
    display: flex;
    justify-content: space-around;
  } */

.photoandorg {
  display: flex;
  flex-direction: row;
}

.cdetails {
  display: flex;
  justify-content: left;
  align-items: center;
}

.org_title {
  color: #4e2780;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Barlow", sans-serif;
  text-align: left;
}

.organiser_img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 20px;
}

.orgbox {
  margin-left: 40px;
}

.orgimgname {
  background-color: #d9e2d5;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 250px;
}

.iconevent {
  width: 20px;
  height: 19px;
  margin-bottom: 10px;
}

.eventdata {
  font-size: 20px;
  text-align: left;
  padding: 5px;
}

.attend_btn {
  background-color: #3e6765;
  border-radius: 30px;
  font-size: 17px;
  margin-top: 10px;
  width: 180px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.attendees {
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .all-mentors {
    grid-template-columns: 33% 33% 33%;
  }

  .all-mentors-container {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .all-events {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 810px) {
  .photoandorg {
    display: block;
  }

  .attend_btn {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .photobox {
    margin-left: 10px;
    margin-right: 10px;
  }

  .event_title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

  .project_details {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  .orgbox {
    margin: auto;
    text-align: center;
  }

  .details_title {
    text-align: center;
  }

  .orgimgname {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  /* .main-container {
    height: 0px;
  } */

  .project_img {
    width: 100%;
    border-radius: 20px;
  }

  .eventdetails {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .cdetails {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .all-events {
    display: block;
  }

  .all-mentors {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 400px) {
  .all-mentors {
    display: block;
  }
}
