@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600&display=swap");

#nav-bar {
  font-family: "League Spartan", "Arial";
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #3e6765;
}

#logo {
  height: 88px;
  margin-top: 5px;
}

/* #nav-list {
  font-family: "League Spartan"; */

/* border-bottom: 1px solid white;
/* font-weight: 600;
  font-size: 23px;
  list-style: none;
  width: 600px;
  display: flex;
  justify-content: space-around;
  color: white;
}

#nav-list a:hover {
  text-shadow: 2px 0 black;
  color: #d9e2d5; */
/* font-size: 24px;
}

.hamburger {
  display: none;
} */

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* .topnav {
  overflow: hidden;
  background-color: black;
} */

/* .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* .topnav .icon {
  display: none;
} */

/* @media only screen and (max-width: 800px) {
  #nav-list {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  } */
/* 
  #nav-list.active {
    left: 0;
  }

  #nav-list a {
    margin: 2.5rem 0;
  } */

/* .icon {
    display: block;
    cursor: pointer;
  }

  .icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  } */
/* } */

.topnav {
  position: fixed;
  z-index: -10;
  width: 100%;
  overflow: hidden;
  background-color: #3e6765;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
}

.topnav a:hover {
  /* background-color: #d9e2d5; */
  color: #d9e2d5;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .topnav a {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  #nav-bar {
    display: block;
    height: 60px;
  }

  #logo {
    position: absolute;
    height: 50px;
    margin-top: 5px;
  }

  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    font-size: 17px;
  }

  .active {
    margin-top: 30px;
  }
}
