@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Manrope&display=swap");

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #3e6765;
}

#logo {
  height: 88px;
  margin-top: 5px;
}

#nav-list {
  font-family: "League Spartan";
  font-size: 20px;
  list-style: none;
  width: 400px;
  display: flex;
  justify-content: space-around;
  color: white;
}
