@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=League+Spartan:wght@100;400&family=Manrope&display=swap");

* {
  font-family: "League Spartan", "Arial";
  margin: 0;
  padding: 0;
}

#nav-list a {
  text-decoration: none;
  color: white;
}

a.here-link {
  color: #3e6765;
}

h1 {
  margin-bottom: 30px;
}

button {
  height: 30px;
  width: 120px;
  margin-bottom: 10px;
  background-color: #3e6765;
  color: white;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}


.project-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-card {
  background-color: #d9e2d5;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* box-shadow: 0px 0px 5px lightslategray; */
  padding: 15px;
  border-radius: 30px;
}

@media screen and (max-width: 1100px) {
  .all-mentors {
    grid-template-columns: 33% 33% 33%;
  }

  .all-mentors-container {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .all-events {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 600px) {
  .all-events {
    display: block;
  }

  .all-mentors {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 400px) {
  .all-mentors {
    display: block;
  }
}